:root {
    --accent:      #c05746; /* Cedar Chest */
    --bg:          #f4f9e9; /* Isabelline */
    --bg-darker:   #eef5db; /* Beige */
    --fg:          #2b4162; /* Deep Koamaru */
    --fg-lighter:  #385f71; /* Deep Space Sparkle */
    --fg-lightest: #75b9be; /* Moonstone Blue */
}

body {
    background-color: var(--bg);
}
/* input, */
.pane,
ul.ruler {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--fg-lighter);
    border-radius: 4px;
    padding: .3rem;
}
/*
input:hover {
    border-color: var(--fg-lightest);
}
input:focus {
    border-width: 0;
}
*/
ul.ruler > li {
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}
.panes {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}
.pane {
    flex: 1;
}